<!DOCTYPE html>
<html>
  <head>
    <title>UniversityApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
      <div class="container" id="fade">
        <br>
        <% flash.each do |key, message| %>
        <%= message %>
        <% end %>
      </div>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
